= form_with model: search_form, url: tasks_path, scope: :search, method: :get, html: { data: { turbo_frame: 'task-list' } } do |f|
  .input-group.mb-3
    = f.search_field :keyword, class: 'form-control', placeholder: 'キーワード'
    = f.submit '検索', class: 'btn btn-outline-secondary'
